{{set . "title" "Home"}}
{{template "header.html" .}}
<script src="/public/js/todo.js"></script>

<div class="container">
    <a class="waves-effect waves-light btn modal-trigger" href="#create-modal">Create</a>
    {{if not .todos}}
        <p> No Todos Found</p>
    {{else}}
        <table class="highlight" id="todo-table">
            <thead>
            <tr>
                <th class="col s1 center"> Done </th>
                <th > Title </th>
                <th class="col s1 center"> Delete </th>
            </tr>
            </thead>
            {{range .todos}}
                {{template "Todo/partial/todo-row.html" .}}
            {{end}}
        </table>
    {{end}}
</div>

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "Todo/Create.html"}}
{{template "footer.html" .}}
